* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Source Sans Pro", Nunito, Cochin sans-serif;
}
body {
    height: 100vh;
    background: white;
    position: relative;
}
hr {
    color: cornflowerblue;
}


.navbar {
    height: 4rem;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    position: fixed;
    width: 100%;
    /* margin: -80px; */
    z-index: 3;
}
.left h1 a{
    color: white;
    text-decoration: none;
    font-family: cursive, Geneva, Tahoma, sans-serif;
}
.right{
    display: flex;
    gap: 30px;
}
.right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
ul li {
    list-style: none;
    cursor: pointer;
}
ul li a {
    text-decoration: none;
    color: white;
    transition: all .4s ease-in;
}
ul li a:hover {
    color: red;
}
.right p {
    color:rgb(255, 255, 255);
    color: rgb(223, 243, 254);
}
.navbar ul form button {
    outline: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    transition: all .4s ease-in-out;
}
.navbar ul form button:hover {
    color: red;
}
.postNew {
    padding-top: 100px;
}
.postNew #post {
    padding: 15px;
    font-size: 16px;
    font-family: serif;
}
.postNew form {
    margin: auto;
    padding: 20px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px -4px 25px -11px rgba(25,25,25,0.69);
    gap: 10px;
    border-radius: 8px;
}
.postNew form button {
    padding: 10px;
    width: 30%;
    background: transparent;
    outline: none;
    border: 1px solid rgb(42, 41, 41);
    border-radius: 5px;
    align-self: flex-end;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.postNew form button:hover {
    background-color: rgb(22, 188, 22);
    color: white;
}

.container {
    margin: 4% auto;
    max-width: 60vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 30vh;
}

.posts-container {
    width: 100%;
    border-radius: 10px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    gap: 20px;
    box-shadow: 5px -4px 25px -11px rgba(25,25,25,0.69);
    border: 1px solid lightslategray;
}




.bottom {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.details, .commentSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(78, 136, 244);
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 8px 8px 0 0;
}
.details h3 {
    flex: 2;
}
.details p {
    font-size: 12px;
    color: rgb(234, 232, 232);
}
.actionButtons {
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding-right: 10px;
    margin-top: 20px;
}
.actionButtons form {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    gap: 15px;
    margin-right: 20px;
}
.actionButtons form button {
    background: transparent;
    border: none;
    color: white;
    gap: 10px;
    border-radius: 4px;
}
.actionButtons p span {
    color: white;
}
.showBg {
    position: absolute;
    font-size: 10px;
    padding: 2px 5px;
    top: -8px;
    left: 8px;
    background-color: rgb(207, 6, 6);
    border-radius: 100%;
}
.icon {
    cursor: pointer;
    color: white;
    font-size: 18px;
    background: none;
    border: none;
    transition: all 0.4s ease-in-out;
}
.icon:hover {
    color: red;
}
.comments {
    padding: 10px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.comments label {
    position: relative;
}
input {
    width: 51vw;
    height: 100%;
    padding: 10px;
}
.comments label input {
    padding-right: 50px;
}
.comments button {
    position: absolute;
    height: 40px;
    right: 0%;
    padding-right: 8px;
    padding-left: 8px;
}
.commentSection {
    background: rgb(161, 182, 202);
}
.comment-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
}
.comment-info h3 {
    font-size: 16px;
    color: rgb(74, 75, 75);
}
.comment-info p {
    font-size: 12px;
    color: lightslategray;
}
.listOfComments {
    margin-top: 10px;
    background-color: #f8f7f6;
}
#hidden-input {
    padding-left: 30px;
    width: 100%;
    height: 5vh;
}
.textForm {
    display: flex;
    align-items: center;
}