
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <style>
        body{
            text-align: center;
            background-color: dodgerblue;
            color: bisque;
        }
        a{
            font-size: large;
        }
    </style>
    <title>Hello World</title>
<!--    <li><a th:href="@{/index.html}">Home</a></li>-->
</head>
<body>
<h1> WELCOME TO FACEBOOK_CLONE APPLICATION </h1>
<br/>
<a th:href="@{/login.html}">Login</a>
<a th:href="@{signUp.html}">Sign up</a>
</body>
</html>